body{
    background-color:lightblue;
    margin:0 auto;
    font-size:1.2em;
}
#loginContainer{
    background-color :lightsteelblue;
    margin:20px auto;
    text-align:center;
    width:500px;
    padding:1em;
}
.messageText{
    text-align:left;
    margin-left:6em;
}
#greenText{
    color:green;
}
#loginButton{
    font-weight:bold;
    margin-top:1em;
    font-size:0.9em;
}
#errorMessage{
    color: red;
}
#weather{
    display:inline-block;
    margin-top: 0.5em;
    padding:0.5em;
}